.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content p{
    text-align: justify;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}

.projet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.projet-header img {
    border-radius: 5px;
}

.btn-dd {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* Ajoute un espace entre les boutons */
    padding: 2rem 0;
}
.btn-dd button a{
    text-decoration: none;
}
.btn-detail,
.btn-delete {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    gap: 10px;
}

.btn-detail {
    background-color: #007bff;
}

.btn-delete {
    background-color: #dc3545;
}
.prj1-li{
    margin: 1em;
    background-color: #20188d;
}
.content .bnts button a{
    text-decoration: none;
}
.btn-back button a{
    text-decoration: none;
}